h1 {
    font-family: 'Share Tech Mono', monospace;
    color: #eeeeee;
    background: #404b69;
    text-align: center;
    font-size: 30pt;
    padding: 10px 20px 10px 20px;
    width: 450px;
    margin: 0px;
    border-radius: 20px;
    border-style: solid;
    border-color: #f3ecc8;
}
p{
    font-family: 'Share Tech Mono', monospace;
    color: #f3ecc8;
    border-radius: 14px;
    text-align: center;
    width: 450px;
}

.button {
    background:#be3030;
	border: none;
	border-radius: 3px;
	padding: 10px 8px;
	color: white;
	font-size: 16px;
    width: 100px;
    border-style: dashed;
    border: 1px solid #eeeeee;
    display: inline;
}

.button:hover {
    background:#f73859;
	border: none;
	border-radius: 3px;
	padding: 10px 8px;
	color: black;
	font-size: 16px;
    border-style: dashed;
    border: 1px solid #eeeeee;
    display: inline;
	cursor: pointer;
}


.mensaje {
    font-family: "Share Tech";
    font-size: 16pt;
    color: #f3ecc8;
}

#escribirmensaje {
    border: 1px solid #f3ecc8;
    color: black;
    font-size: 16px;
    width: 300px;
    height: 100px;
    margin: 20px;
}


.estilocifrado {
    font-family: "Share Tech";
    color: #f3ecc8;
    font-size: 24px;
    padding: 10px 8px;
    
}

#ingresanumero {
    width: 50px;
    font-size: 30px;
    margin: 8px;

}

.cajadetexto {
    background: #404b69;
    width: 450px;
    height: 150px;
    border-style: groove;
    border-color: #526086;
}
